/* general_colours.css */

/* Country and region colours are 'coder colours' and should be replaced by
   something more aesthetically pleasing */
.country-england { fill: darkgreen; }
.country-scotland { fill: darkblue; }
.country-northern-ireland { fill: orange; }
.country-wales { fill: red; }

.region-london { fill: red; }
.region-south-east { fill: orange; }
.region-south-west { fill: yellow; }
.region-west-midlands { fill: lightgreen; }
.region-east-midlands { fill: darkgreen; }
.region-east { fill: cyan; }
.region-yorkshire-and-the-humber { fill: lightblue; }
.region-north-west { fill: darkblue; }
.region-north-east { fill: purple; }




/* Colours are as used by Wikipedia, unless otherwise indicated */
.party-conservative { fill: #0087dc; }
.party-ukip { fill: #70147a; }
.party-green-party { fill: #6ab023; }
.party-labour { fill: #dc241f; }
.party-liberal-democrats { fill: #faa61a; }

.party-snp { fill: #fef987; }
.party-plaid-cymru { fill: #008142; }

.party-dup { fill: #d46a4c; }
.party-sinn-fein { fill: #326760; }
.party-sdlp { fill: #99ff66; }
.party-uup { fill: #48a5ee; }
.party-alliance { fill: #f6cb2f; }

.party-independent { fill: black; } /* Wikipedia uses a light grey */
.party-speaker { fill: white; }


/* More parties listed at
   https://en.wikipedia.org/wiki/2017_United_Kingdom_general_election#Full_results
   but I believe all the likely winners are done */

.party-loser { fill: #666; } /* "darkgrey" isn't dark enough for me */


/* End of general_colours.css */
