/* euref_ge_comparison.css - formerly brexit_fptp.css */
/* This relies on colour definitions (custom properties/CSS variables) in
   party_and_region_colours */

.js-disabled .hide-if-no-js {
  display: none;
}

svg {
  transition: background .5s ease-in-out;
}
text {
  transition: fill .5s ease-in-out;
}

.dark-mode {
  background: black;
}

text {
  font-family: Helvetica, Arial, sans-serif;
}
.dark-mode text {
  fill: #eee;
}

text.h1 {
  font-size: 20px;
}
text.numeric {
  text-anchor: end; /* right align */
}

text.credits {
  font-size: 10px;
}

.legend text {
  font-size: 12px;
}
.legend text.heading {
  font-size: 14px;
  font-weight: bold;
}
.legend circle.winner {
  stroke-width: 0; /* Stop the default black border/outline showing */
}
.legend circle.second-place {
  fill: transparent;
}

@keyframes pulse {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
.legend circle.selected {
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  animation-duration: 1s;
}
.legend .selectable-party:hover {
  cursor: pointer;
  fill: green;
}
.legend .selectable-party.selected {
  fill: #0645ad;
}
.dark-mode .legend .selectable-party.selected {
  fill: cyan;
}
#winner-colour {
  stroke-width: 0; /* override the default black */
}
#runner-up-colour {
  fill: transparent; /* override the default grey */
}


text#constituency-details {
  font-size: 10px;
}


.constituency {
  stroke-width: 1px;
  stroke: black; /* Both fill and stroke colours should get superseded */
  fill: lightgrey; /* by party-specific values */
  transition: opacity .5s ease-in-out;
}
.constituency:hover {
  cursor: pointer;
}

/* Colours are as used by Wikipedia, unless otherwise indicated */
.second-place-conservative { stroke: #0087dc; }
.second-place-ukip { stroke: #70147a; }
.second-place-green-party { stroke: #6ab023; }
.second-place-labour { stroke: #dc241f; }
.second-place-liberal-democrats { stroke: #faa61a; }

/* New parties for 2019 */
.second-place-brexit-party { stroke: var(--tig); }
.second-place-tig { stroke: var(--tig); }
.second-place-cuk { stroke: var(--tig); }

.second-place-snp { stroke: #fef987; }
.second-place-plaid-cymru { stroke: #008142; }

.second-place-dup { stroke: #d46a4c; }
.second-place-sinn-fein { stroke: #326760; }
.second-place-sdlp { stroke: #99ff66; }
.second-place-uup { stroke: #48a5ee; }
.second-place-alliance { stroke: #f6cb2f; }

.second-place-independent { stroke: var(--independent); }
.second-place-speaker { stroke: white; }
.second-place-nhap { stroke: var(--nhap); } /* See South West Surrey 2017 */

.grid-line-light { stroke: #eee; }
.grid-line {  stroke: #ccc; }
.grid-line-strong {  stroke: #888;}
.dark-mode .grid-line-light { stroke: #333; }
.dark-mode .grid-line {  stroke: #444; }
.dark-mode .grid-line-strong {  stroke: #888;}

.x-axis-label {
  font-size: 8px;
  text-anchor: middle;
}
.y-axis-label {
  font-size: 8px;
  text-anchor: end;
}

.js-level {
  transition: opacity .5s ease-in-out;
}
.invisible {
  opacity: 0.0;
}

.js-level-button rect {
  stroke: #888;
  fill: transparent;
}
.js-level-button.selected rect {
  stroke: #0645ad;
  fill: #0645ad;
}
.js-level-button.selected text {
  fill: #eee;
}
.js-level-button:hover rect {
  fill: darkgreen;
}
.js-level-button:hover text {
  fill: #eee;
}

.js-level-button.selected {
  fill: blue;
}
.js-level-button:hover {
  cursor: pointer;
  fill: darkgreen;
}

#js-dark-mode-toggle rect {
  stroke: #0645ad;
  fill: transparent;
}
#js-dark-mode-toggle text {
  fill: #0645ad;
}
#js-dark-mode-toggle.selected rect {
  stroke: #0645ad;
  fill: #0645ad;
}
#js-dark-mode-toggle:hover rect {
  cursor: pointer;
  fill: darkgreen;
}
#js-dark-mode-toggle:hover text {
  cursor: pointer;
  fill: #eee;
}

/* End of euref_ge_comparison.css */
