/* table_colours.css */

* {
  font-family: Helvetica, Arial, sans-serif;
}

th {
  font-family: "Arial Narrow", "Liberation Sans Narrow", Helvetica, Arial, sans-serif;

}


.small { font-size: x-small; }
.numeric { text-align: right;
           padding-right: .5em;
         }
.centred { text-align: center; }

/* borrowed and adapted from https://www.textfixer.com/tutorials/css-table-alternating-rows.php */
table tr:nth-child(odd){
  background: #f8f8f8;
}
table tr:nth-child(even){
  background: #f0f0f0;
}

/* Country and region colours are 'coder colours' and should be replaced by
   something more aesthetically pleasing */
.country-england { background: darkgreen; }
.country-scotland { background: darkblue; color: white; }
.country-northern-ireland { background: orange; }
.country-wales { background: red; color: white;}

.region-london { background:linear-gradient(to left, red, white 20%, white 80%, red); }
.region-south-east { background:linear-gradient(to left, orange, white 20%, white 80%, orange); }
.region-south-west { background:linear-gradient(to left, yellow, white 20%, white 80%, yellow); }
.region-west-midlands { background:linear-gradient(to left, lightgreen, white 20%, white 80%, lightgreen); }
.region-east-midlands { background: linear-gradient(to left, darkgreen, white 20%, white 80%, darkgreen); }
.region-east { background:linear-gradient(to left, cyan, white 20%, white 80%, cyan); }
.region-yorkshire-and-the-humber { background:linear-gradient(to left, lightblue, white 20%, white 80%, lightblue); }
.region-north-west { background:linear-gradient(to left, darkblue, white 20%, white 80%, darkblue); }
.region-north-east { background:linear-gradient(to left, purple, white 20%, white 80%, purple); }




/* Colours are as used by Wikipedia, unless otherwise indicated */
.party-conservative { background: #0087dc; color: white;}
.party-ukip { background: #70147a; }
.party-green-party { background: #6ab023; color: white;}
.party-labour { background: #dc241f; color: white;}
.party-liberal-democrats { background: #faa61a; }

.party-snp { background: #fef987; }
.party-plaid-cymru { background: #008142; color: white;}

.party-dup { background: #d46a4c; color: white;}
.party-sinn-fein { background: #326760; color: white;}
.party-sdlp { background: #99ff66; }
.party-uup { background: #48a5ee; }
.party-alliance { background: #f6cb2f; }

.party-independent { background: #444; color: white;} /* Wikipedia uses a light grey */
.party-speaker { background: white; }


/* More parties listed at
   https://en.wikipedia.org/wiki/2017_United_Kingdom_general_election#Full_results
   but I believe all the likely winners are done */

.party-loser { background: #666; } /* "darkgrey" isn't dark enough for me */


.threshold-100 { background: #ff0; }
.threshold-90{ background: #ff2; }
.threshold-80 { background: #ff4; }
.threshold-70 { background: #ff6; }
.threshold-60 { background: #ff8; }
.threshold-50 { background: #ffa; }

.voted-leave { background: purple; color: white; }
.voted-leave-55 { background: #800080; color: white; }
.voted-leave-50 { background: #c060c0; color: white; }
.voted-leave-45 { background: #ffd0ff; color: black; }

.signed-0 { background: #f8f8f8; }
.signed-5 { background: #f0f0f0; }
.signed-10 { background: #e8e8e8; }
.signed-15 { background: #e0e0e0; }
.signed-20 { background: #d8d8d8; }
.signed-25 { background: #d0d0d0; }
.signed-30 { background: #c8c8c8; }
.signed-35 { background: #c0c0c0; }
.signed-40 { background: #b8b8b8; }
.signed-45 { background: #b0b0b0; }
.signed-50 { background: #a8a8a8; }


/* End of table_colours.css */
